.root {
	&__button {
		display: inline-block;
    padding: .625rem 1.125rem;
    border-radius: 5px;
    font-size: .875rem;
    line-height: 1rem;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    color: #fff;
    border-color: #09f;
    background-color: #09f;
		&:hover {
			background-color: #07f;
		}
  }
	&__paginationLine {
		display: flex;
		justify-content: space-between;
	}
}
