@import "../../prebuilt/scss/mixins.scss";

.root {
  background-color: #fff;
  
  &__info {
    margin-bottom: 5px;
  }

  @include breakpoint("xss") {
		&__info {
			margin-bottom: 15px;
		}
  }

  @include breakpoint("md") {
		&__info {
			flex-basis: 80%;
		}
	}
}
