.root {
  background-color: #fff;
  
  &__info {
    margin-bottom: 5px;
  }
    
  &__sessions {
    display: block;
    color: #b6bdc1;
    font-size: 1em;
  }
  
  &__sessionsNumber {
    color: #0f1113;
    font-size: 1em;
    font-weight: 600;
	}
  
  &__company {
    display: block;
    color: #0f1113;
    font-size: 1em;
	}
  
}
