.root {
	&__searchItem {
		cursor: pointer;
		padding: 3px;
		background-color: #fff;
		transition: background-color 1s linear;
		&:hover {
			background-color: #e6f7ff;
		}
	}

	&__profileItem {
		margin-top: 5px;
    font-size: 11px;
    line-height: 15px;
    padding: 2px 5px;
    border-radius: 10px;
    white-space: nowrap;
    cursor: pointer;
		margin-left: 5px;
	}
}
