@import "../../prebuilt/scss/mixins.scss";

.root {
  display: flex;
	justify-content: space-between;
	padding: 24px;
	border-radius: 10px;
	background-color: #fff;
	border: 1px solid rgba(23,26,31,.1);

	&__price {
		width: 200px;
		flex-basis: 10%;
	}

	@include breakpoint("xss") {
		flex-direction: column;

		&__info {
			flex-basis: 80%;
		}

		&__blockAvatar {
			margin-right: 20px;
			display: flex;
			margin-bottom: 15px;
		}

		&__avatar {
			margin-right: 20px;
			flex-basis: auto;
		}
  }

  @include breakpoint("md") {
		flex-direction: row;

		&__info {
			margin-bottom: 15px;

		}
		&__blockAvatar {
			margin-right: 20px;
		}

		&__avatar {
			flex-basis: 80%;
			margin-right: 20px;
		}
	}
}
