.root {
  display: flex;
  flex-direction: row;
	background-color: #fff;
	padding: 24px;
	border-radius: 10px;
	border: 1px solid rgba(23,26,31,.1);

	&__avatar {
		
	}

	&__info {

	}

	&__price {
		
	}

}