@import "src/prebuilt/scss/variables";
@import "src/prebuilt/scss/mixins";

.root {
  display: inline-flex;
  text-decoration: none;
  transition: color 0.15s ease-out;

  &.primary {
    color: map-get($colors, typography-main);

    &:hover {
      color: map-get($colors, primary-medium);
    }
  }

  &.primary-negative {
    color: map-get($colors, background);

    &:hover {
      text-decoration: underline;
    }
  }

  &.primary-blue {
    color: map-get($colors, primary-medium);

    &:hover {
      color: map-get($colors, typography-main);
      text-decoration: underline;
    }
  }

  &.profile-tag {
    color: var(--c-text);
    background-color: #f7f8f9;
    border: 1px solid #e7e8ea;
		&:hover {
			color: #0c8;
			background-color: #e5faf3;
			border: 1px solid #0c8;
		}
  }

  &.sm {
    @include applyPreset(createPreset(14px, 400, 22px, normal));
  }

  &.md {
    @include applyPreset(createPreset(16px, 400, 24px, normal));
  }

  &.bg {
    @include applyPreset(createPreset(16px, 400, 24px, normal));
  }
}
