@import "src/prebuilt/scss/variables";
@import "src/prebuilt/scss/mixins";

.root {
  padding: 32px 0;
  background-color: map-get($colors, typography-main);

  &__content {
    @include container();

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    & > * {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
