.root {

  &__row {
		margin-bottom: 10px;
	}
	&__info {
		font-size: 0.8em;
		line-height: 1.2em;
	}
	&__price {
		font-size: 1.1em;
		line-height: 1.5em;
		font-weight: 600;
	}
	&__smallHead {
		border-top: 1px solid #e7e8ea;
		padding-top: 10px;
		margin-bottom: 10px;
	}
}