@import "src/prebuilt/scss/variables";
@import "src/prebuilt/scss/mixins";

.root {
  margin-bottom: 48px;

  @include breakpoint(md) {
    margin-bottom: 72px;
  }

  @include breakpoint(lg) {
    margin-bottom: 92px;
  }

  &__title {
    margin-bottom: 24px;

    @include breakpoint(md) {
      margin-bottom: 32px;
    }
  }

  &__technologies {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: stretch;
    margin: -8px -16px;
  }

  &__technology_wrapper {
    width: 100%;
    padding: 8px 16px;

    @include breakpoint(md) {
      width: 50%;
    }
  }

  &__technology {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    padding: 24px;
    background-color: map-get($colors, primary-light);
    border-radius: 10px;
  }

  &__logo {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    margin-right: 24px;

    @include breakpoint(md) {
      width: 92px;
      height: 92px;
    }
  }

  &__description {
    white-space: pre-line;
  }

  &__name {
    margin-bottom: 8px;
    font-weight: 600 !important;
  }
}
