.root {
  width: 100%;
	position: relative;

	&__search {
		margin-bottom: 10px;
	}

	&__input {
		width: 100%;
		border: 1px solid #40a9ff;
		padding: 5px;
		border-radius: 5px;
		outline:none;

		&:hover {
			border: 1px solid #40a9ff;
			box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
		}

		&:active {
			border: 1px solid #40a9ff;
			box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
		}

		&:focus {
			border: 1px solid #40a9ff;
			box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
		}

		&:focus-visible {
			border: 1px solid #40a9ff;
			box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
		}
	}

	&__result_wrap {
		position: relative;
	}
	&__result {
		position: absolute;
		display: block;
		height: 0px;
		width: 100%;
		background: #fff;
		overflow: overlay;

		transition: display height .1s ;
		// transform: scaleY(0) scaleX(0) translateY(0px) translateX(0px);
		// -webkit-transform: scaleY(0) scaleX(0) translateY(0px) translateX(0px);
		// -moz-transition: 1s;
    // -webkit-transition: 1s;
    // -o-transition: 1s;
    // transition: 1s;
	}

	&__result_is_open {
		display: block;
		height: 200px;
		padding: 10px;
		border: 1px solid rgba(23, 26, 31, 0.1);
		border-radius: 0 0 10px 10px;
		box-shadow: 0 2px 8px rgb(0 0 0 / 15%);

		transition-property: height, display;
		transition-duration: .1s;
		transition-timing-function: ease-in, ease, linear;
		transform-origin: top ;
		// -webkit-transform: scaleY(1) scaleX(1) translateY(0px) translateX(0px);
		// transform: scaleY(1) scaleX(1) translateY(0px) translateX(0px);
    // -moz-transition: .3s;
    // -webkit-transition: .3s;
    // -o-transition: .3s;
    // transition: .3s;
	}

}

