.root {
  width: 100%;
	position: relative;

	&__search {
		margin-bottom: 10px;
	}

	&__searchLine {
		display:flex;
		width: 100%;
		border: 1px solid #40a9ff;
		padding: 5px;
		border-radius: 5px;
		outline:none;
		margin-bottom: 10px;

		&:hover {
			border: 1px solid #40a9ff;
			box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
		}

		&:active {
			border: 1px solid #40a9ff;
			box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
		}

		&:focus {
			border: 1px solid #40a9ff;
			box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
		}

		&:focus-visible {
			border: 1px solid #40a9ff;
			box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
		}
	}

	&__searchItem {
		cursor: pointer;
		padding: 3px;
		background-color: #fff;
		transition: background-color 1s linear;
		&:hover {
			background-color: #e6f7ff;
		}
	}

	&__input {
		width: 100%;
		border: none;
		padding: 5px;
		border-radius: 5px;
		outline:none;

		&:hover {
			border: none;
			background-color: #fff;
		}

		&:active {
			border: none;
			background-color: #fff;
		}

		&:focus {
			border: none;
			background-color: #fff;
		}

		&:focus-visible {
			border: none;
			background-color: #fff;
		}
	}

	&__result_wrap {
		position: relative;
	}
	&__result {
		top: 39px;
		position: absolute;
		display: block;
		height: 0px;
		width: 100%;
		background: #fff;
		overflow: overlay;

		transition: display height .1s ;
		// transform: scaleY(0) scaleX(0) translateY(0px) translateX(0px);
		// -webkit-transform: scaleY(0) scaleX(0) translateY(0px) translateX(0px);
		// -moz-transition: 1s;
    // -webkit-transition: 1s;
    // -o-transition: 1s;
    // transition: 1s;
	}

	&__result_is_open {
		display: block;
		height: 200px;
		padding: 10px;
		border: 1px solid rgba(23, 26, 31, 0.1);
		border-radius: 0 0 10px 10px;
		box-shadow: 0 2px 8px rgb(0 0 0 / 15%);

		transition-property: height, display;
		transition-duration: .1s;
		transition-timing-function: ease-in, ease, linear;
		transform-origin: top ;
		// -webkit-transform: scaleY(1) scaleX(1) translateY(0px) translateX(0px);
		// transform: scaleY(1) scaleX(1) translateY(0px) translateX(0px);
    // -moz-transition: .3s;
    // -webkit-transition: .3s;
    // -o-transition: .3s;
    // transition: .3s;
	}
	&__tagsButton {
		display: inline-block;
		margin-top: 3px;
    margin-right: 4px;
		padding: 0 3px;
    font-size: .9em;
    background-color: #fafafa;
    border: 1px solid #0f1113;
    height: 24px;
    line-height:22px;
		background-color: transparent!important;
    border-radius: 10px;
    color: #0f1113;
		cursor: pointer;
		overflow: hidden;
    min-width: 57px;
	}
	&__button {
    color: #fff;
    border-color: #09f;
    background-color: #09f;

		display: inline-block;
    padding: .625rem 1.125rem;
    border-radius: 5px;
    font-size: .875rem;
    line-height: 1rem;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    outline: none;
		&:hover {
			background-color: #07f;
		}
  }
}

