
@import "../../prebuilt/scss/mixins.scss";

.root {
  &__wrap {
    display: flex;
    flex-direction: row;
  }

  &__pageBlock {
    margin-bottom: 20px;
  }

  @include breakpoint("xss") {
    &__price_mobile {
      display: block;
    }
    &__sidebar {
      display: none;
    }
    &__content {
      flex-basis: 100%;
    }
    &__avatar {
      display: none;
      &_mobile {
        display: block;
        margin-bottom: 15px;
      }
    }
  }

  @include breakpoint("md") {
    &__price_mobile {
      display: none;
    }
    &__sidebar {
      display: block;
      margin-right: 20px;
    }
    &__content {
      flex-basis: 70%;
    }
    &__avatar {
      display: block;
      &_mobile {
        display: none;
      }
    }
  }
}
